#admin_links
  %a{:href=>"/admin/new"}new page
  %br
  %a{:href=>"/admin/menu"}edit menu
#admin_content
  - @pages.each do |page|
    %p.admin_page<
      %a{:href=>"/admin/#{page.path_for_admin}"}>edit
      &nbsp;|&nbsp;
      %a{:href=>"/admin/#{page.path_for_admin}/delete"}<delete
      &nbsp;&nbsp;&nbsp;
      ="#{page.title_for_admin} (#{page.path_for_admin}.#{page.format})"
    %br

